<div class="container-intro">
  <div id="title-1" class="head">
    <h1>You need a blue sky holiday</h1> 
  </div>
  <div id="title-2" class="head">
    <h1>But don't know where to go</h1>
  </div>
  <div id="title-3" class="head">
    <h1>Don't worry, we got you</h1>
    <a href="#month"><span></span></a>
  </div>
</div>


<div id="month" class="container-month">
  <div class="good-vibes"></div>
  <h2 ngxParallaxScroll [parallaxSpeed]='0.04' [parallaxSmoothness]='1' [parallaxDirection]='"reverse"'
    [parallaxTimingFunction]='"linear"' [parallaxThrottleTime]='80'>Choose your month</h2>
  <br><br>
  <mat-grid-list ngxParallaxScroll [parallaxSpeed]='0.02' [parallaxSmoothness]='1' [parallaxDirection]='"reverse"'
    [parallaxTimingFunction]='"linear"' [parallaxThrottleTime]='150' cols="4" rowHeight="3:1">
    <a href="#location">
      <mat-grid-tile *ngFor="let month of monthArr" (click)="setMonth(month)" class="month-name">{{month}}</mat-grid-tile>
    </a>
  </mat-grid-list>
</div>


<div class="container-cursor">
  <div id="circularcursor">
    <div *ngIf="hoverLoc === 'north'" id="north" class="cursor__title">NORTH</div>
    <div *ngIf="hoverLoc === 'south'" id="south" class="cursor__title">SOUTH</div>
    <div *ngIf="hoverLoc === 'east'" id="east" class="cursor__title">EAST</div>
    <div *ngIf="hoverLoc === 'west'" id="west" class="cursor__title">WEST</div>
    <div *ngIf="hoverLoc === '!!!'" id="west" class="cursor__title">!!!</div>
  </div>
</div>


<div class="wrapper">

  <div *ngIf="month" id="location" class="container-loc">
    <h2>Any direction in mind?</h2>
    <div class="card-wrapper">

      <div class="icon">
        <fa-icon size="3x" [icon]="faPlane"></fa-icon>
      </div>
      <div class="line"></div>

      <mat-card class="card" (mouseenter)="mouseEnter('north')" (mouseleave)="mouseLeave()"
        (click)="setLocation('north')">
        <a href="#places">
          <img class="loc-image" mat-card-image src="https://priyak09.github.io/into-the-wild/assets/images/Kasol.jpg" alt="North India">
          <div class="layer"></div>
        </a>
      </mat-card>

      <mat-card class="card" (click)="setLocation('south')" (mouseenter)="mouseEnter('south')"
        (mouseleave)="mouseLeave()">
        <a href="#places">
          <img class="loc-image" mat-card-image src="../assets/images/south.jpg" alt="South India">
          <div class="layer"></div>
        </a>
      </mat-card>

      <mat-card class="card" (click)="setLocation('east')" (mouseenter)="mouseEnter('east')"
        (mouseleave)="mouseLeave()">
        <a href="#places">
          <img class="loc-image" mat-card-image src="../assets/images/east.jpeg" alt="East India">
          <div class="layer"></div>
        </a>
      </mat-card>

      <mat-card class="card" (click)="setLocation('west')" (mouseenter)="mouseEnter('west')"
        (mouseleave)="mouseLeave()">
        <a href="#places">
          <img class="loc-image" mat-card-image src="../assets/images/Jaipur.jpg" alt="West India">
          <div class="layer"></div>
        </a>
      </mat-card>

      <mat-card class="card" (click)="setLocation('surprise')" (mouseenter)="mouseEnter('!!!')"
        (mouseleave)="mouseLeave()">
        <a href="#places">
          <img class="loc-image" mat-card-image src="../assets/images/surprise.jpg" alt="Surprise me!">
          <div class="layer"></div>
        </a>
      </mat-card>

    </div>
  </div>

  <div id="places" class="container-place" *ngIf="location">
    <div class="place-wrapper">
      <div class="row">        
        <div *ngFor="let data of placesArr" class="col-md-4">
          <p class="place-label">{{data}}</p>

          <mat-card ngxParallaxScroll [parallaxSpeed]='0.015' [parallaxSmoothness]='0.5' [parallaxDirection]='"reverse"'
            [parallaxTimingFunction]='"linear"' [parallaxThrottleTime]='10' class="place-card">
            <img mat-card-image class="place-img" src=" ../assets/images/{{data}}.jpg" alt={{data}}>

            <div class="led-box">
              <div class="led-blue"></div>
            </div>
          </mat-card>

        </div>
      </div>
    </div>

    <div class="btn-wrapper">
      <a href="#location"><button type="button" data-hover="Change location"
          class="btn raise change-content"><span>{{this.location}}</span></button></a>
      <a href="#month"><button type="button" data-hover="Change month"
          class="btn raise change-content"><span>{{this.month}}</span></button></a>
    </div>

  </div>
</div>
